//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

@icon-hover-color:                              @global-muted-color;
@icon-hover-hover-color:                        @global-color;

@icon-button-height:                            @icon-button-width;
@icon-button-font-size:                         round((@icon-button-width * 0.5));
@icon-button-color:                             @global-color;

@icon-button-hover-color:                       @global-color;

@icon-button-active-color:                      @global-color;


// Modifier: `uk-icon-hover`
// ========================================================================

.hook-icon-hover() {}

.hook-icon-hover-hover() {}


// Modifier: `uk-icon-button`
// ========================================================================

.hook-icon-button() {}

// Hover
.hook-icon-button-hover() {}

// Active
.hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}
