//
// Component: Tab
//
// ========================================================================


// Variables
// ========================================================================

@tab-border:                                    @global-border;
@tab-color:                                     @global-link-color;
@tab-hover-color:                               @global-link-hover-color;
@tab-active-border:                             @global-border;
@tab-active-background:                         @global-background;
@tab-active-color:                              @global-color;
@tab-disabled-color:                            @global-muted-color;


// Component
// ========================================================================

//
// Items
//

.hook-tab() {}

// Hover
.hook-tab-hover() {}

// Active
.hook-tab-active() {}

// Disabled
.hook-tab-disabled() {}


// Miscellaneous
// ========================================================================

.hook-tab-misc() {}
