{{ if .IsNamedParams }}
    {{ $href :=  .Get "href" }}
    {{ if (.Get "hrefParamSub") }}
        {{ $sub := index .Site.Params (.Get "hrefParamSub") }}
        {{ $href := printf $href $sub }}
        <a class="uk-button{{ with .Get "type" }} uk-button-{{ . }}{{ end }}" href="{{ $href }}">{{ .Inner }}</a>
    {{ else }}
        <a class="uk-button{{ with .Get "type" }} uk-button-{{ . }}{{ end }}" href="{{ $href }}">{{ .Inner }}</a>
    {{ end }}
{{ else }}
<a class="uk-button" href="{{ .Get 0 }}">{{ .Inner }}</a>
{{ end }}
